@{
    ViewData["Title"] = "Home Page";//thats mean we sit up the Title in  view - shared _Layout.csHtml
    // this will be the home page every index is the home page.
    // something to remmber CS very nice you can write now with html same as php wow how much im in love with CS
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
